@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
